.ivu-form .ivu-form-item-label {
  text-align: left;
}

.ivu-table-header th {
  font-size: 13px;
  color: #606266;
  font-weight: bold;
  background-color: #D9D9D9;
  height: 55px !important;
}
.ivu-table-border td, .ivu-table-border th {
  height: 40px !important;
}
